@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.title-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333;
    padding-top: 1rem;
    padding-bottom:1rem;
}
